# Exclude specific development files
node_modules/
.git/
.gitignore
.npmignore
package-lock.json

# Exclude antigravity/brain files
.gemini/
.antigravityignore


# Include only these
!bin/
!src/
!stubs/
!package.json
!README.md
!LICENSE